<div style='margin-top: 30px'>
    <h1 class='text-center mb-5'>Rooms Dashboard</h1>

    <table class='table mb-5'>
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Price</th>
                <th class="text-center">Capacity</th>
                <th class="text-center">Slots</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        {{#each rooms}}
            <tr>
                <td class="align-middle text-center">{{name}}</td>
                <td class="align-middle text-center">{{description}}</td>
                <td class="align-middle text-center">{{price}}</td>
                <td class="align-middle text-center">{{capacity.0.value}} à {{capacity.1.value}} joueurs</td>
                <td class="align-middle text-center">
                    {{#each slots}}
                        {{#compare roomId ../id}}
                            {{#each ../../../bookings}}
                                {{#compare slotId ../../id}}
                                    <div class="border border-danger mt-1 mb-1 p-1 rounded">{{getDate ../../../during}} {{slotToStr ../../../during}}</div>
                                {{else}}
                                    <div class="border border-success mt-1 mb-1 p-1 rounded">{{getDate ../../../during}} {{slotToStr ../../../during}}</div>
                                {{/compare}}
                            {{/each}}
                        {{/compare}} 
                    {{/each}}
                </td>
                <td class="align-middle"><a href='admin/edit/room/{{id}}/' class='btn btn-primary'>Éditer</a></td>
            </tr>
        {{/each}}
    </table>
    
</div>