{{#if list}}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"  data-backdrop="static" >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Les joueurs suivants ne respectent pas les conditions d'âge :</h5>
      </div>
      <div class="modal-body">
          <ul>
        {{#each list}}
        <li>{{this}}</li>
        {{/each}}
          </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" href="javascript:history.back()">Retour</a>
      </div>
    </div>
  </div>
  </div>

  <div style='margin-top: 30px'>
    <h1 class='text-center mb-5'>Mes réservations</h1>

    {{#if slots.length}}
        <table class='table mb-5'>
            <thead>
                <tr>
                    <th>Jour</th>
                    <th>Créneau</th>
                    <th>Joueurs</th>
                </tr>
            </thead> 
            {{#each slots}}

                <tr>
                    <td>{{getDate during}}</td>
                    <td>{{slotToStr during}}</td>
                    <td>
                        {{#each players}}
                            {{firstName}}
                            {{lastName}}<br />
                        {{/each}}
                    </td>
                    <td><button type='button' value='{{id}}' class='btn btn-danger annulationButton'>Annuler</button></td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        Vous n'avez pas encore fait de réservations.
    {{/if}}
</div>

{{else}}



{{!-- ---------------------------------------------------------------------------}}


<div style='margin-top: 30px'>
    <h1 class='text-center mb-5'>Mes réservations</h1>

    {{#if slots.length}}
        <table class='table mb-5'>
            <thead>
                <tr>
                    <th>Jour</th>
                    <th>Créneau</th>
                    <th>Joueurs</th>
                    <th></th>
                </tr>
            </thead> 
            {{#each slots}}

                <tr>
                    <td>{{getDate during}}</td>
                    <td>{{slotToStr during}}</td>
                    <td>
                        {{#each players}}
                            {{firstName}}
                            {{lastName}}<br />
                        {{/each}}
                    </td>
                    <td><button type='button' value='{{id}}' class='btn btn-danger annulationButton'>Annuler</button></td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        Vous n'avez pas encore fait de réservations.
    {{/if}}
</div>

{{/if}}

<script>
$(document).ready(function(){
    $("#myModal").focus();
    $("#myModal").modal('toggle');
});
</script>


<script src='/js/bookings.js'></script>
