<div style='margin-top: 30px'>
    <h1 class='text-center mb-5'>Mes réservations</h1>

    {{#if slots.length}}
        <table class='table mb-5'>
            <thead>
                <tr>
                    <th>Jour</th>
                    <th>Créneau</th>
                    <th>Joueurs</th>
                </tr>
            </thead>
            {{! if (listDepr){
                dsfsdfsd
            } }}
            
            {{#each slots}}

                <tr>
                    <td>{{getDate during}}</td>
                    <td>{{slotToStr during}}</td>
                    <td>
                        {{#each players}}
                            {{firstName}}
                            {{lastName}}<br />
                        {{/each}}
                    </td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        Vous n'avez pas encore fait de réservations.
    {{/if}}
</div>

<button type="button" id="buttonModal"class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
   $("#myModal").modal();
});
</script>


{{!-- <script src="/js/booking.js"></script> --}}
